Music
Pictures
Public
Templates
Desktop
Documents
Downloads

.cache
.local
.mozilla
.Xauthority
.Xclients
.nv
.bash_history
.lesshst
.steam*
.config/plasma-nm
.config/device_automounter_kcmrc
.config/kded_device_automounterrc
.config/dolphinrc
.config/dolphinrc
.config/kdeglobals
.gnupg/
.ssh/

.bash_logout
.bash_profile
.bashrc
.config/Kvantum/
.config/Trolltech.conf
.config/autostart/
.config/caffeine/
.config/dconf/
.config/evolution/
.config/falkon/
.config/geary/
.config/gnome-layout-switcher.conf
.config/goa-1.0/
.config/gtk-3.0/
.config/hexchat/
.config/ibus/
.config/manjaro-hello.json
.config/mimeapps.list
.config/neofetch/
.config/pamac/
.config/pulse/
.config/qt5ct/
.config/ranger/
.config/user-dirs.dirs
.config/user-dirs.locale
.dir_colors
.profile
.wget-hsts
.xinitrc
.zcompdump
.zhistory

