.ICEauthority
.Xauthority
.Xclients
.bash_history
.bash_logout

.emulator_console_auth_token
.expo/
.mysql_history
.npm/
.nufrawrc-ui
.pylint.d/
.python_history
.react-native-cli/
.viminfo
.vscode-oss/
.vscode-react-native/
.wine/

.cache
.cache/

.config/Android Open Source Project/
.config/Clementine/
.config/Code - OSS/
.config/GIMP/
.config/Mousepad/
.config/Postman/
.config/QtProject.conf
.config/Thunar/
.config/audacious/
.config/bashtop/
.config/calibre/
.config/catfish/
.config/cef_user_data/
.config/configstore/
.config/deluge/
.config/discord/
.config/filezilla/
.config/galculator/
.config/git/
.config/gtk-2.0/
.config/htop/
.config/libreoffice/
.config/manjaro/
.config/menus/
.config/obs-studio/
.config/osdlyrics/
.config/pavucontrol.ini
.config/qBittorrent/
.config/qpdfview/
.config/screenkey.json
.config/skypeforlinux/
.config/variety/
.config/viewnior/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.config/Kvantum/
.config/Trolltech.conf
.config/autostart/
.config/caffeine/
.config/dconf/
.config/device_automounter_kcmrc
.config/dolphinrc
.config/dolphinrc
.config/evolution/
.config/falkon/
.config/geary/
.config/gnome-layout-switcher.conf
.config/goa-1.0/
.config/gtk-3.0/
.config/hexchat/
.config/ibus/
.config/kded_device_automounterrc
.config/kdeglobals
.config/manjaro-hello.json
.config/mimeapps.list
.config/neofetch/
.config/pamac/
.config/plasma-nm
.config/pulse/
.config/qt5ct/
.config/ranger/
.config/user-dirs.dirs
.config/user-dirs.locale

.dir_colors
.dir_colors
.dmrc
.gnupg/
.lesshst
.local
.local/
.mozilla
.mozilla/
.nv
.nv/
.pki/
.profile
.profile
.ssh/
.steam*
.steam/
.steampath
.steampid
.thunderbird/
.wget-hsts
.xinitrc
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory

Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos/
hassan

.ipython/
.pythonhist
.config/nvim/.netrwhist
.java
.android
.AndroidStudio3.6
