Music
Pictures
Public
Templates
Desktop
Documents
Downloads

.cache
.local
.mozilla
.Xauthority
.Xclients
.nv
.bash_history
.lesshst
.steam*
.config/plasma-nm
.config/device_automounter_kcmrc
.config/kded_device_automounterrc
.config/dolphinrc
.config/dolphinrc
.config/kdeglobals
